<div class="genes">
    <div ng-hide="status.rendering">
        <div class="header-buttons">
            <span class="btn-group btn-group-sm pull-left group" role="group">
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8" ng-click="givePermission()">Give files permission</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8" ng-click="resetPermission()">Reset files permission</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8" ng-click="giveFolderPermission()">Give folder permission</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8" ng-click="create()">Create Doc</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8" ng-click="startFEUUIDImportingFE()">UUID</button>-->
                <button type="button" class="btn btn-default" ng-if="userRole === 8 && developerCheck()" ng-click="checkError()">Check errors</button>
                <button type="button" class="btn btn-default" ng-if="userRole === 8 && developerCheck()" ng-click="saveAllGenes()"><span ng-show="!!!status.saveAllGenes"><i class="fa fa-spinner fa-spin"></i></span><span ng-show="!!status.saveAllGenes">Save All Genes</span></button>
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="resetCache()"><span>Reset Cache</span></button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="changeData()"><span>Change Data</span></button>-->
                <!--<button ng-if="status.hasOwnProperty('cache') && (status.cache === 'enabled' || status.cache === 'disabled') && internal"  type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="changeCacheStatus()">-->
                    <!--<span ng-show="status.cache === 'enabled'">Disable Cache</span>-->
                    <!--<span ng-show="status.cache === 'disabled'">Enable Cache</span>-->
                <!--</button>-->
                <!--<button ng-if="status.hasOwnProperty('cache') && status.cache==='unknown' && internal" type="button"-->
                        <!--class="btn btn-default" ng-if="userRole === 8 && internal" disabled>Unknown Cache status-->
                <!--</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="initialStatus()">Initial status</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="showDocs()">Get docs info</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="convertTumorTypes()">Convert tumor types</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="convertMutationEffect()">Convert mutation effect and oncogenic</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="findRelevantVariants()">Find relevant variants</button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="migrate()"><span ng-show="!!!status.migrate"><i class="fa fa-spinner fa-spin"></i></span><span ng-show="!!status.migrate">Migrate</span></button>-->
                <!--<button type="button" class="btn btn-default" ng-if="userRole === 8 && internal" ng-click="showValidationResult()"><span ng-show="!!!status.migrate"><i class="fa fa-spinner fa-spin"></i></span><span ng-show="!!status.migrate">Show Validation Result</span></button>-->
            </span>
            <span class="input-group input-group-sm group backup" role="group" ng-if="userRole === 8" >
                <input type="text" class="form-control" placeholder="Backup folder Name" ng-model="backupFolderName">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default  btn-secondary" ng-disabled="!!!status.backup"
                            ng-click="backup(backupFolderName)">
                        <span ng-show="!!!status.backup"><i class="fa fa-spinner fa-spin"></i></span>
                        <span ng-show="!!status.backup">Backup</span>
                    </button>
                </span>
            </span>
        </div>
        <table class="table" datatable="ng" dt-options="dtOptions" dt-columns="dtColumns">
            <thead>
            <tr class="dashedHeader"><!-- <th>ID</th> -->
                <th>Gene</th>
                <th>Last modified</th>
                <th>Last modified by</th>
                <th>Edit</th>
                <th ng-if="userRole === 8">Needs to be reviewed</th>
                <th ng-if="userRole === 8"># of articles to curate</th>
            </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="gene in documents">
                    <!-- <td>{{$index + 1}}</td> -->
                    <td><strong><a ng-href="#/gene/{{::gene.title}}">{{::gene.title}}</a></strong></td>
                    <td>{{gene.modifiedDate | date : 'MMM d, h:mm a yyyy'}}</a></td>
                    <td>{{gene.lastModifyingUserName}}</a></td>
                    <td>
                        <i ng-if="gene.editable" class="fa fa-pencil" ng-click="redirect('/gene/' + gene.title)"><span style="display:none">1</span></i>
                        <i ng-if="!gene.editable" class="fa fa-eye" ng-click="redirect('/gene/' + gene.title)"><span style="display:none">0</span></i>
                    </td>
                    <td ng-if="userRole === 8">{{!metaFlags[gene.title].review ? 'No' : 'Yes'}}</td>
                    <td ng-if="userRole === 8">{{!metaFlags[gene.title].CurationQueueArticles ? 0 : metaFlags[gene.title].CurationQueueArticles}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <loading ng-model="status.rendering" content="Please wait, we are loading genes information."></loading>
    <p>Date: <input type="text" id="datepicker"></p>
    <div class="row" style="margin-top:80px;margin-bottom:50px">
        <div class="col-sm-3" style="margin-top:-20px;"><h3>Curation Queue</h3></div>
        <div class="col-sm-2" style="margin-left:-70px;"><button ng-click="addCuration()" class="btn btn-default">Add Curation</button></div>
        <div class="col-sm-4" style="margin-left:-20px;margin-top:10px">
        <span>
            <input id="displaySwitch"
                   type="checkbox"
                   ng-model="allCuration"
                   ng-value="allCuration">
            <label for="displaySwitch">Include Completed Curations</label>
        </span>
        </div>
    </div>
    <table class="table" style="width:100%">
        <thead>
        <tr>
            <th>Gene</th>
            <th>Article</th>
            <th>Variant</th>
            <th>Tumor Type</th>
            <th>Section</th>
            <th>Added by</th>
            <th>Added at</th>
            <th>Due day</th>
            <th>Curator</th>
            <th>Comment</th>
            <th>Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><strong><a ng-href="#/gene/EGFR">EGFR</a></strong></td>
            <td style="width:20%"><a href="" target="_blank">Participation of feldshers and midwives in the secret and partisan activities during the great patriotic war ...1975</a>
                <pub-iframe
                        ng-model="data.pmidString">
                </pub-iframe>
            </td>
            <td>R34M</td>
            <td>Non small cell lung cancer</td>
            <td>NCCN guidelines</td>
            <td>Jiaojiao Wang</td>
            <td>Aug 8, 12:04 PM 2017</td>
            <td>Aug/16/2017</td>
            <td>Jiaojiao Wang</td>
            <td style="width:20%">Some comments left for EGFR curation. Participation...</td>
            <td style="min-width: 130px;">
                <button type="button" class="btn btn-success btn-xs successButton"
                        uib-tooltip-placement="top" uib-tooltip="Complete curation"><i
                        class="fa fa-check"></i>
                </button>
                <button type="button" class="btn btn-warning btn-xs warningButton"
                        uib-tooltip-placement="top" uib-tooltip="Modify curation"><i
                        class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs dangerButton"
                        ng-show="userRole === 8" uib-tooltip-placement="top"
                        uib-tooltip="Delete curation"><i class="fa fa-trash-o"></i>
                </button>
            </td>
        </tr>
        <tr>
            <td><strong><a ng-href="#/gene/BRAF">BRAF</a></strong></td>
            <td style="width:20%"><a href="" target="_blank">Participation of feldshers and midwives in the secret and partisan activities during the great patriotic war ...2005</a>
                <pub-iframe
                        ng-model="data.pmidString">
                </pub-iframe></td>
            <td>V600E</td>
            <td>Melanoma</td>
            <td>Mutation Effect</td>
            <td>Jiaojiao Wang</td>
            <td>July 15, 12:04 PM 2017</td>
            <td>Aug/6/2017</td>
            <td>Jiaojiao Wang</td>
            <td style="width:20%">Some comments left for BRAF curation. Participation...</td>
            <td style="min-width: 130px;">
                <button type="button" class="btn btn-success btn-xs successButton"
                        uib-tooltip-placement="top" uib-tooltip="Complete curation"><i
                        class="fa fa-check"></i>
                </button>
                <button type="button" class="btn btn-warning btn-xs warningButton"
                        uib-tooltip-placement="top" uib-tooltip="Modify curation"><i
                        class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-danger btn-xs dangerButton"
                        ng-show="userRole === 8" uib-tooltip-placement="top"
                        uib-tooltip="Delete curation"><i class="fa fa-trash-o"></i>
                </button>
                <button type="button" class="btn btn-success btn-xs successButton"
                        uib-tooltip-placement="top" uib-tooltip="Notify again"><i class="fa fa-envelope" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
